@font-face {
  font-family: 'NokiaPureHeadlineLight';
  font-weight: normal;
  font-style: normal;
  src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.eot');
  src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.woff2') format('woff2'),
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.woff') format('woff'),
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.ttf') format('truetype'),
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'NokiaPureHeadlineUltralight';
  font-weight: normal;
  font-style: normal;
  src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_ultralight.eot');
  src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_ultralight.woff2') format('woff2'),
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_ultralight.woff') format('woff'),
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_ultralight.ttf') format('truetype'),
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_ultralight.svg#svgFontName') format('svg');
}

/* This is a regular font for the text body */
@font-face {
  font-family: 'NokiaPureText';
  src: url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Lt.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Lt.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Lt.woff') format('woff'),
    /* Safari, Android, iOS */
    url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Lt.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

/* This is a bold font */
@font-face {
  font-family: 'NokiaPureText';
  src: url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Bd.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Bd.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Bd.woff') format('woff'),
    /* Safari, Android, iOS */
    url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Bd.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight: bold;
  font-style: normal;
}